.header {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header__nav__login li {
  font-size: 14px;
  color: $color__grey;
  justify-content: center;
  padding: 10px;

  &:hover {
    border: 1px solid $color__yellow;
  }
}

.header__nav__login li {
  display: inline-block;
  margin: 10px;
}
.header__main__nav__ul li {
  display: inline-block;
  margin: 10px;
  font-size: 18px;
  justify-content: center;
  padding: 10px 20px;

  &:hover {
    border: 1px solid $color__brown;
  }
}
