.home__main {
  height: 910px;
  width: 100%;
  background-position: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home__main__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 350px;
}

.home__main__description {
  font-size: 40px;
  text-align: center;
  letter-spacing: -0.7px;
}

.home__main__ornament {
  @include decoration;
}

.home__main__button {
    display: flex;
    button {
      height: 120px;
      width: 310px;
      margin: 20px;
      background: transparent;
      border-style: solid;
      border: 0.75px solid $color__black;
      box-shadow: none;
      font-size: 36px;
      font-family: $font-base;
      cursor: pointer;
    }
}
