.Home__Main {
  height: 910px;
  width: 100%;
  background-position: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid blue;
}

.Home__Main__Container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 350px;
  border: 1px solid red;
}

.Home__Main__Description {
  font-size: 40px;
  text-align: center;
  letter-spacing: -0.7px;
}

.Home__Main__Ornament {
  height: 35px;
  width: 250px;
  background: transparent url('../../assets/Decoration.svg') 0% 0% no-repeat padding-box;
}

.Home__Main__Button {
    display: flex;
    button {
      height: 120px;
      width: 310px;
      margin: 20px;
      background: transparent;
      border-style: solid;
      border: 0.75px solid $color__black;
      box-shadow: none;
      font-size: 36px;
      font-family: $font-base;
      cursor: pointer;
    }
}
