
.account__section__reg {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 500px;
  margin-top: 150px;
  align-items: center;
  justify-content: center;
  .account__decoration {
    @include decoration;
  }
}

.account__login__container__reg {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 300px;
  width: 50%;
  background-color: $color__white;
  .account__login__inputs__reg {
    position: absolute;
    left: 50%;
    margin-left: -30%;
    bottom: 50%;
    margin-bottom: -175px;
    width: 60%;
    height: 300px;
    color: $color__grey;
    input {

      width: 100%;
      background-color: $color__white;
      border: none;
      border-bottom: 1px solid $color__grey;
      color: $color__black;
    }
  }
}
