.who__help__container {
  height: 600px;
}

.who__help__table {
  display: table;
  margin: 20px auto;
}
.who__help__header {
  font-size: 24px;
  text-align: center;
  div {
    margin: 0 auto;
  }
}

.who__help__ornament {
  @include decoration;
}

ul.who__help__groups {
  list-style: none;
  width: 100%;
}

.who__help__groups li {
  display: inline;
  width: 25%;
  float: left;
  border: 1px solid red;
  margin: 20px;
  font-size: 20px;
}

.who__help__text p {
  border: 1px solid blue;
  font-size: 18px;
  width: 40%;
  display: block;
  margin: 5% auto;
  letter-spacing: 1.2px;
}
