.who__help__container div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.who__help__header {
  display: flex;
  margin: 0 auto;
  font-size: 24px;
  h2 {
    font-size: 24px;
  }
  .who__help__ornament {
    @include decoration;
    flex: 200px 100px;
  }
}

.who__help__wrap {
  border: 1px solid blue;
}

.who__help__positions {
  width: 80%;
  height: 150px;
  border: 1px solid red;
  ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
      li {
        font-size: 20px;
        cursor: pointer;
        color: $color__grey;
        display: block;
        width: 10%;
        text-align: center;
        margin: 3%;
        float: left;
        &:hover {
          border: 1px solid $color__grey;
        }
        &:active {
          style: none;
        }
      }
  }


}
